<!DOCTYPE html>
<html>
<head>
    <h1>Guru Charan - 1001989563</h1>
    <title>City Search Form</title>
</head>
<body>
    <h1>City Search</h1>
    <form method="POST" action="/first">
        <label for="min_lat">Minimum Latitude:</label>
        <input type="text" id="min_lat" name="min_lat" required>
        <br>
        <label for="max_lat">Maximum Latitude:</label>
        <input type="text" id="max_lat" name="max_lat" required>
        <br>
        <label for="min_population">Minimum Population:</label>
        <input type="text" id="min_population" name="min_population" required>
        <br>
        <label for="max_population">Maximum Population:</label>
        <input type="text" id="max_population" name="max_population" required>
        <br>
        <input type="submit" value="Search">
    </form>

<h1>bonus</h1>
 <form method="POST" action="/bonus">
         <label>state</label>
        <input type="text" id="state_name" name="state_name" required>
        <br>

        <label>Minimum Population:</label>
        <input type="text" id="min_population2" name="min_population2" required>
        <br>
        <label>Maximum Population:</label>
        <input type="text" id="max_population2" name="max_population2" required>
        <br>
        <input type="submit" value="Search">
    </form>

<h1>third</h1>
 <h1>Sentence Search</h1>
    <form method="POST" action="/third">
        <label for="sentences">Sentences:</label>
        <textarea id="sentences" name="sentences" rows="10" required></textarea>
        <br>
        <label for="words">Words:</label>
        <input type="text" id="words" name="words" required>
        <br>
        <input type="submit" value="Search">
    </form>
    <br>
<h1>pie</h1>
 <h1>Sentence Search</h1>
    <form method="POST" action="/pie">
        <label">Sentences:</label>
        <textarea id="sentences2" name="sentences2" rows="10" required></textarea>
        <br>
        <label for>Words:</label>
        <input type="text" id="words2" name="words2" required>
        <br>
        <input type="submit" value="Search">
    </form>

</body>
</html>